.chat-product-card {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 14px;
  margin: 12px 0;
  display: flex;
  gap: 14px;
  border: 1px solid #f1bfd3;
}

.chat-product-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 8px;
}

.chat-product-info {
  flex: 1;
}

.chat-product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.chat-product-price {
  margin: 4px 0;
  color: #ff006e;
  font-weight: bold;
}

.chat-product-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.chat-product-btn {
  background: #ff006e;
  padding: 7px 14px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
